<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <ul class="nav bg-info">
          <li class="nav-item">
            <a class="nav-link link-light" href="/home">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/tasks">Задачи</a>
          </li>
          <li class="nav-item">
              <a class="nav-link link-light" href="/reg">Регистрация</a>
            </li>
          <li class="nav-item">
              <a class="nav-link link-light" href="/auth">Вход</a>
          </li>
        </ul>
    </div>

{% block content %}

{% endblock %}
    
</body>
</html>



